@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

:root {
    --primary-color: #4daf54;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*tự động tính toán cao rộng */
}
body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8888);
    font-family: "Poppins";
}

.card{
    margin: 120px auto; /*auto: để căn giữa phần tử theo chiều ngang trong vùng chứa của nó.phần tử sẽ chiếm chiều rộng được chỉ định và không gian còn lại sẽ được chia đều giữa lề trái và lề phải */
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.card_heart, .card_cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 2;
    cursor: pointer;
}

.card_cart{
    left: unset;
    right: 20px;
}

.card_img {
    width: 90%;
    transition: 0.5s; /*hoạt ảnh sẽ diễn ra trong 0.5s*/
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Hình ảnh giữ nguyên tỷ lệ co và lấp đầy kích thước đã cho. Hình ảnh sẽ được cắt bớt để vừa   */
}


.card_title, .card_price {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card_title {
    color: var(--primary-color);
}

.card_size, .card_color {
    display: flex; /* Hiển thị một phần tử dưới dạng vùng chứa linh hoạt cấp khối */
    align-items: center; /* Items are positioned at the center of the container */
    margin-top: 10px;
} 

.card_size span {
    padding: 2px 10px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.card_color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card-color-green {
    background-color: green;
}

.card-color-red {
    background-color: red;
}

.card-color-black {
    background-color: black;
}

.card_action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    transition: 0.25s;
}

.card_action button:hover {
    transform: scale(0.9);
}

.card:hover .card_img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card_title {
    transform: translate(-38px, -72px);
}

.card:hover .card_price {
    transform: translate(-117px, -72px);
}

.card_size {
    margin-top: 150px;
}

.card_size, .card_color {
    font-weight: 26px;
    margin-bottom: 15px;
}

h3 {
    margin-right: 12px;
    font-weight: unset;
}



.card_size, .card_color, .card_action {
    visibility: inherit; /*Thuộc tính khả năng hiển thị chỉ định xem một phần tử có hiển thị hay không.*/
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card_size, .card:hover .card_color, .card:hover .card_action {
    transition-delay: 0.2s;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
    visibility: visible;
    opacity: 100;
}

.card:hover .card_size {
    margin-top: -20px;
}
